.sidebarRow {
  display: flex;
  background-color: white;
  font-size: 1rem;
  font-weight: 450;
  align-items: center;
}
.sidebarRow:hover {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}
.sidebarRow:hover > .row-name {
  font-weight: 500;
}
.sidebarRow.selected {
  font-weight: bold;
  background-color: lightgray;
}

.row-icon {
  width: 50px !important;
  color: grey;

  margin: 8px;
}
.row-icon.selected {
  color: red;
}
.row-name {
  flex: 1;
  margin-left: 6px;
  margin-right: 10px;
  width: max-content;
}
